.visible   { display: block; }
.invisible { display: none;  }
#a { color: #FF0010; }
#b { color: #00FF00; }
.d { color: #87CEEB; }
.c { color: #000080; }
#c { font-weight: bold; }
#d { font-weight: bold;}
